.background {
    background-image: url('./images/big_sandwich_conspiracy_wide.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
